{% extends 'frontend/master/master.html' %}

{% block content %}

    <section id="prodetails" class="section-p1">
        <div class="single-pro-image">
            {% if productData.image%}
            <img src="{{ productData.image.url }}" width="100%"  id="MainImg" alt="">
            {% endif %}

            <div class="small-img-group">
                {% for productImage in productData.productimage_set.all %}
                <div class="small-img-col">
                    <img src="{{ productImage.image.url }}" width="100%" class="small-img" alt="">
                </div>
                {% endfor %}
            </div> 
        </div>

        <div class="single-pro-details">
            <h6>{{ productData.category }}</h6>
            <h4>{{ productData.name }}</h4>
            <h2>Rs.{{ productData.price }}</h2>
            <input type="number" value="1">
            <a href="{% url 'cart_add' productData.id %}"><button class="normal">Add to Cart</button></a>
            <h4>Product Details</h4>
            <span>{{ productData.description | safe }}</span>
        </div>
    </section>

    <section id="featured" class="section-p1">
        <h2>Related Products</h2>
        <p>Latest Collection</p>
        <div class="pro-container">

            {% for rProduct in  relatedData %}
            <div class="pro">

                {% if rProduct.image %}
                    <a href="{% url 'product-details' rProduct.slug %}">
                        <img src="{{ rProduct.image.url }}" alt="">
                    </a>
                {% endif %}
                <div class="des">
                    <span>{{ rProduct.category }}</span>
                    <h5>{{ rProduct.name }}</h5>
                    <h4>Rs.{{ rProduct.price }}</h4>
                </div>
                <a href="{% url 'cart_add' productData.id %}"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            {% endfor%}
        </div>
    </section>

{% endblock %}