{% extends 'frontend/master/master.html' %}

{% block content %}

    <section id="form-details">
        <form action="" method="post">
            <h1>Welcome: {{ user.username }}</h1>
            <section id="cart" class="section-p1">
                <table width="100%">
                    <thead>
                        <tr>
                            <td>S.No</td>
                            <td>Product Items</td>
                            <td>Order Status</td>
                        </tr>
                    </thead>
        
                    <tbody>
                    {% for item in order_data %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <table>
                                    <tr>
                                        <td>Product Name</td>
                                        <td>Product Image</td>
                                    </tr>
                                    {% for pp in item.get_product_items %}
                                        <tr>
                                            <td>{{ pp.product.name }}</td>
                                            <td>
                                                <picture>
                                                    <source srcset="{{ product.image.url }}">
                                                    <img src="{{ pp.product.image.url }}" alt="Image Desc">
                                                </picture>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>
                            <td>{{ item.status }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>
            <a href="logout">Logout</a>
        </form>
    </section>

{% endblock %}